<!doctype html>
<html lang="en">

<head>
    <!-- git branch test -->
    <!-- Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- style.css 파일 링크 -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

    <!-- Google fonts 추가    -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap" rel="stylesheet">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <!-- Javascript file link -->
    <script src="{{ url_for('static', filename='js/script.js') }}" > </script>

    <!-- title, ogTag -->
    <title>나만의 쇼핑몰</title>
    <meta property="og:title" content="나만의 쇼핑몰"/>
    <meta property="og:description" content="맛있는 사과사세요~~🍎"/>
    <meta property="og:image" content="{{ url_for('static', filename='ogimage.png') }}"/>
</head>

<body>
    <div class="wrap">
        <div class="img"></div>
        <div class="description">
            <h1>사과를 팝니다 <span class="description_price">가격: 1,000원/개</span></h1>
            <p>이 사과는 먹으면 기분이 좋아지는 효과가 있어요. 이유는 그냥 달고 맛있거든요😁</p>
            <p class="todayDollar">오늘의 환율($ → ₩) : <span id="dollarToWon"> </span> 원</p>
        </div>
        <button id="orderbox-button" onclick="openClose_orderBox()" class="btn btn-outline-secondary">주문서 열기</button>
        <button id='orderlist-button' onclick="openClose_orderlist()" type="button" class="btn btn-outline-secondary">주문현황 열기</button>
        <div class="orderBox" id="order-box">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">주문자 이름</span>
                </div>
                <input type="text" id="name-text" class="form-control" aria-label="Default"
                       aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="count-text">개수</label>
                </div>
                <select class="custom-select" id="count-text">
                    <option selected></option>
                    <option value="1개">1개</option>
                    <option value="3개">3개</option>
                    <option value="6개">6개</option>
                    <option value="12개">12개</option>
                </select>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">주소</span>
                </div>
                <input type="text" id="address-text" class="form-control" aria-label="Default"
                       aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">전화번호</span>
                </div>
                <input type="text" id="phoneNumber-text" class="form-control" aria-label="Default"
                       aria-describedby="inputGroup-sizing-default">
            </div>
            <button id='order-button' onclick="ordered()" type="button" class="btn-primary">주문하기</button>
        </div>
        <table id = 'orderlist-table' class="table">
            <thead>
            <tr>
                <th scope="col">주문자 이름</th>
                <th scope="col">개수</th>
                <th scope="col">주소</th>
                <th scope="col">전화번호</th>
            </tr>
            </thead>
            <tbody id="order-list">

            </tbody>
        </table>
    </div>
</body>
</html>