* {
    font-family: 'Nanum Gothic', sans-serif;
}

.wrap {
    width: 700px;
    margin: 20px auto auto auto;
}

.img {
    width: 700px;
    height: 500px;
    border-radius : 10px;

    background-image: url("https://images.unsplash.com/photo-1568702846914-96b305d2aaeb?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80");
    background-position: center;
    background-size: cover;

}

.description {
    font-size: 20px;
}

.description_price {
    font-weight: normal;
    font-size: 20px;

}

.btn-primary {
    font-size: 20px;

    display: block;
    width: auto;
    margin: auto;

    border-radius: 5px;
}

.btn-outline-secondary {
    display: inline;
    width: auto;
    margin: auto 0px auto auto;

    border-radius: 5px;
}

.table {
    display: none;
    margin: 20px auto 20px auto;
    text-align: center;
}

.orderBox {
    display: none;
    margin-top: 10px;
}